
.killkat-overlay {
    position: relative;
    opacity: 0;
    display: inline-block;
    /*pointer-events:none*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size : 100%;
    cursor: url(https://cdn1.iconfinder.com/data/icons/32x32-free-design-icons/32/Target1.png), crosshair;
    z-index: 1;
    /*transition: opacity 0.5s;
    -wekbit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    */

}
.killkat-overlay-target:hover{
    background-image: url(https://rawgit.com/jorisgrouillet/killkat/master/img/target.png);
    /*opacity: .8;*/
}
.killkat-overlay-splatter{
    background-image: url(https://rawgit.com/jorisgrouillet/killkat/master/img/bloodsplatter.png);
}

.killkat-icon-killable {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    z-index: 1;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: rgb(254, 0, 0) url(https://rawgit.com/jorisgrouillet/killkat/master/img/icon-killable.png) no-repeat center center;
    background-size: 14px 15px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #ddd;
}
