
.killkat-overlay {
    position: absolute;
    float: left;
    opacity: .90;
    pointer-events:none;
    background-size : 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(https://rawgit.com/jorisgrouillet/killkat/master/img/bloodsplatter.png);
}

.killkat-icon-killable {
    width: 30px;
    height: 30px;
    z-index: 1;
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: absolute;
    float: left;
    background: #fbdcdc url(https://rawgit.com/jorisgrouillet/killkat/master/img/icon-killable.png) no-repeat center center;
    background-size: 20px 20px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #ddd;
}